EIO:CFG_1.0:6:1::
#
EIO_SIGNAL:

      -Name "Conveyor_FWD" -SignalType "DO" -Label "Move" -Category "control"

      -Name "Conveyor_INV" -SignalType "DO" -Label "Back" -Category "control"

      -Name "DO_01" -SignalType "DO" -Label "Indicator_1" -Category "control"

      -Name "DI_01" -SignalType "DI" -Label "Button 1" -Category "control"

      -Name "DI_02" -SignalType "DI" -Label "Button 2" -Category "control"

      -Name "DI_03" -SignalType "DI" -Label "Button 3" -Category "control"

      -Name "DO_02" -SignalType "DO" -Label "Indicator_2" -Category "control"

      -Name "DO_03" -SignalType "DO" -Label "Indicator_3" -Category "control"
